MAIL='keburgett@gmail.com'
26 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 1 1
27 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 1 0
28 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 2 1
29 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 2 0
30 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 3 1
31 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 3 0
32 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 4 1
33 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 4 0
34 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 5 1
35 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 5 0
36 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 6 1
37 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 6 0
38 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 7 1
39 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 7 0
40 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 8 1
41 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 8 0
42 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 9 1
43 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 9 0
44 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 10 1
45 09 * * 3 sh /home/kenb/development/HyperAQ/lib/tasks/sprinkle_actuator.sh localhost:3000 10 0
